.fire-incident-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.top-info-card {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 15px 25px;
  border: 2px solid #A92121;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 65%;
  margin: 0 auto 20px auto;
}

.label {
  font-size: 12px;
  color: #555;
}

.value {
  font-size: 15px;
  font-weight: bold;
}

.status {
  font-weight: bold;
}

.ongoing {
  color: #e57d00;
}

.end-call-btn {
  background: #bf3030;
  color: white;
  padding: 10px 45px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.content-area {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.map-placeholder {
  flex: 2.5;
  background: #f4f4f4;
  border: 2px dashed #bbb;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.form-area {
  flex: 1.2;
  background: white;
  padding: 20px 25px;
  border-radius: 10px;
  border: 2px solid #A92121;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.form-title {
  margin: 0;
  margin-bottom: 5px;
}

.section-label {
  color: #c70000;
  margin: 10px 0 15px 0;
}

label {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 3px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1.5px solid #c75959;
  margin-bottom: 10px;
  font-size: 14px;
}

textarea {
  height: 90px;
  resize: none;
}

.submit-btn {
  width: 130px;
  padding: 10px;
  background: #2e2e2e;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.bottom-space {
  height: 180px;
}
